[submodule "src/github.com/jacobsa/oglematchers"]
	path = src/github.com/jacobsa/oglematchers
	url = git://github.com/jacobsa/oglematchers.git
[submodule "src/github.com/jacobsa/ogletest"]
    path = src/github.com/jacobsa/ogletest
    url = git://github.com/jacobsa/ogletest.git
[submodule "src/github.com/jacobsa/oglemock"]
    path = src/github.com/jacobsa/oglemock
    url = git://github.com/jacobsa/oglemock.git
[submodule "src/github.com/smartystreets/goconvey"]
    path = src/github.com/smartystreets/goconvey
    url = git://github.com/smartystreets/goconvey.git
[submodule "src/github.com/jmoiron/jsonq"]
	path = src/github.com/jmoiron/jsonq
	url = https://github.com/jmoiron/jsonq
